<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guclibrarytemp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewpurchase"></activity>
        <activity android:name=".errorpage" />
        <activity android:name=".Register" />
        <activity android:name=".check" />
        <activity android:name=".GetAllPurchase" />
        <activity android:name=".quantityeditor" />
        <activity android:name=".insertitemname" />
        <activity android:name=".EditUser" />
        <activity android:name=".AddItem" />
        <activity android:name=".AdminViewPage" />
        <activity android:name=".Checkout" />
        <activity android:name=".viewwww" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>